body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #1f2021;
	padding: 0;
	margin: 0;
	color: #b2b2b2;
}

img{
	border-radius: 45%;
}

/*
	Menu utente (Sinistra)
*/

.tendina{
	float:left;
	margin-top: -2.2%;
	margin-left: 20.5%;
	position: absolute;
	width: 50%;
	height: 25%;
}

.sinistra{
	float: left;
	position: fixed;
}

.sinistra a {
	display: block;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	margin-top: 15%;
	color: #b2b2b2;

}

.sinistra a:hover{
	color: grey;
}

/*
	CSS Post.
*/
p.ora{
	margin-top: -3%;
}

p.nick{
	color: grey;
	margin-left: 25%;
	margin-top: -3.7%;
}

.contenuto{
	margin-top: 5%;
	margin-left: 35%;

}

.post{
	width: 530px;
	float:center;
	background-color: #28292A;
	padding: 1%;
	margin-top: 2%;
	position: relative;
}

.utente{
	margin-top: 1%;
}

.utente a{
	display: inline;
	text-decoration: none;
	color: #b2b2b2;
	position: relative;
}

.utente a:hover{
	color:grey;
}

.nome_data{
	margin-left: 6.7%;
	margin-top: -6.6%;
}