body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #1f2021;
	padding: 0;
	margin: 0;
	color: #b2b2b2;
}

img{
	border-radius: 45%;
}

p.ora{
	margin-top: -0.6%;
}

.contenuto{
	margin-top: 5%;
}

.post{
	width: 530px;
	float:right;
	margin-top: 2%;
	margin-right: 27.6%;
	background-color: #28292A;
	padding: 1%;
	border-radius: 5px;
}

.tendina{
	float:left;
	margin-top: 3%;
	margin-left: 15.5%;
	position: absolute;
	width: 50%;
	height: 25%;
}

.sinistra{
	float: left;
}

.sinistra a {
	display: block;
	text-decoration: none;
	margin-top: 1%;
	font-size: 20px;
	font-weight: bold;
	margin-top: 5%;
	color: #b2b2b2;
}

.sinistra a:hover{
	color: grey;
}

.utente{
	margin-top: 1%;
}

.utente a{
	display: inline;
	text-decoration: none;
	color: #b2b2b2;
}

.utente a:hover{
	color:grey;
}

.info2{
	margin-left: 6.7%;
	margin-top: -6.6%;
}